body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.sign-button {
  border: 1px solid #E0E0E0;
  background-color: #FFF;
}

.register-button {
  color: #FFF;
  background-color: #000;
  border: none;
}

.header-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.logo {
  max-width: 100%;
}

.category-title {
  margin-left: 8px;
}

header {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 8px;
  margin-right: 8px;
}

header>.row {
  border-bottom: 1px solid #FFF;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  flex-flow: row nowrap;
}

.stores-main>.row {
  max-width: 576px;
  margin: 0 auto;
}

.stores-main>.row {
  flex-flow: column nowrap;
}

.search-field {
  background: url(search.svg) no-repeat scroll 7px 10px;
  padding-left: 30px;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  max-width: 100%;
  margin-top: 16px;
  padding-top: 8px;
  padding-bottom: 16px;
}

.delivery {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.delivery>* {
  font-size: 13px;
  line-height: 24px;
}

.delivery-time-select {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 12.5px;
  padding-right: 12.5px;
}

.delivery-to {
  display: flex;
  flex-flow: column nowrap;
}

.primary-input,
.primary-select {
  font-family: 'Roboto';
  font-size: 13px;
  line-height: 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #E0E0E0;
}

.primary-button {
  font-size: 13px;
  line-height: 24px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #E0E0E0;
}

.card {
  margin-top: 16px;
  display: flex;
  flex-flow: column nowrap;
}

.card-restaurant {
  font-size: 16px;
  line-height: 24px;
}

.card-type {
  font-size: 14px;
  line-height: 21px;
}

.card-time {
  font-size: 13px;
  line-height: 21px;
}

.card-image {
  width: 100%;
}

footer {
  position: relative;
  color: #FFF;
  width: 100%;
  margin-top: 48px;
  background-color: #262626;
}

footer>.row {
  max-width: 576px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
}

.footer-logo>img {
  height: 24px;
  margin-top: 56px;
  margin-bottom: 50px;
}

.footer-logo {
  margin-left: 8px;
  margin-right: 8px;
  border-bottom: 1px solid#858585;
}

.lang-select {
  color: #FFF;
  background-color: #3B3B3B;
  font-size: 13px;
  line-height: 15px;
  margin-top: 32px;
}

.footer-hashtag {
  font-size: 16px;
  line-height: 19px;
  margin-top: 32px;
  margin-left: 8px;
  font-size: 16px;
  line-height: 19px;
}

.social {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 20px;
  margin-left: 8px;
}

.footer-nav {
  margin-top: 40px;
  padding-bottom: 24px;
}

.footer-nav>* {
  display: flex;
  flex-flow: column nowrap;
}

.footer-nav>*>a {
  color: #FFF;
  text-decoration: none;
  display: block;
  margin-top: 24px;
}

.apps-links {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid#858585;
  border-top: 1px solid#858585;
  padding-top: 24px;
  padding-bottom: 24px;
}

.apps-links>* {
  margin: 8px;
}

.delivery-grid {
  display: none;
}

.category {
  margin-top: 40px;
}

.footer-credits {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-credits>* {
  margin-top: 24px;
}

.footer-credits>*>* {
  color: #FFF;
  font-size: 11px;
  line-height: 13px;
  text-decoration: none;
}

#pageup-button {
  position: absolute;
  background-color: #59BD5A;
  bottom: 0;
  right: 0;
  height: 80px;
  width: 80px;
  margin-bottom: 24px;
  margin-right: 16px;
}

.delivery-main {
  margin-top: 24px;
}

.delivery-adress {
  background: url(location.svg) no-repeat scroll 8px 10px;
  padding-left: 30px;
  max-width: 229px;
}

.delivery-time>span,
.delivery-to>span {
  color: #626262;
}

.restaurants-main>.row {
  max-width: 576px;
  margin: 0 auto;
}

.top-offer {
  width: 100%;
  position: relative
}

.top-offer-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: absolute;
  bottom: -56px;
  background-color: #FFF;
  width: inherit;
  box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
  border-radius: 2px;
}

.top-offer-card>.card-title {
  margin-top: 24px;
  margin-bottom: 40px;
  font-size: 24px;
}

.top-offer-card>.card-type {
  font-size: 14px;
}

.top-offer-card>.card-time {
  margin-top: 16px;
  margin-bottom: 24px;
  text-decoration: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 13px;
  background-color: #262626;
  color: #FFF;
  border-radius: 16px;
}

.top-offer>img {
  object-fit: cover;
  width: 100%;
  height: 256px;
}

.category-restaurant {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 112px;
  /* Because top offer has -56px bottom positioning */
  width: 100%;
}

.category-restaurant>br {
  content: "";
  margin: 0 auto;
  height: 1px;
  width: 50px;
  border-bottom: 1px solid #757575;
}

.food-card {
  display: flex;
  width: 100%;
  margin-top: 43px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(117, 117, 117, 0.2)
}

.card-information {
  display: flex;
  flex: none;
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
  overflow: hidden;
}

.card-information>* {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-title {
  font-weight: bold;
  line-height: 24px;
  font-size: 16px;
}

.card-type {
  margin-top: 4px;
  line-height: 21px;
  font-size: 13px;
}

.card-cost {
  margin-top: auto;
  font-weight: 500;
  line-height: 21px;
  font-size: 15px;
}

@media only screen and (min-width: 576px) {
  header>.row,
  .stores-main>.row,
  footer>.row {
    max-width: 768px;
  }
  .delivery-grid {
    display: block;
  }
  .delivery-main {
    display: none;
  }
  .delivery {
    justify-content: flex-start;
  }
  .delivery>* {
    font-size: 13px;
    line-height: 24px;
  }
  .category {
    margin-top: 56px;
  }
  .category-cards {
    display: flex;
    flex-flow: row wrap;
  }
  .card-restaurant {
    font-size: 16px;
    line-height: 24px;
  }
  .card-type {
    font-size: 14px;
    line-height: 21px;
  }
  .card-time {
    font-size: 13px;
    line-height: 21px;
  }
  .footer-main-links {
    display: flex;
    flex-flow: row nowrap;
  }
  .footer-content {
    width: 100%;
  }
  .footer-nav {
    margin-top: 0;
    display: flex;
    flex-flow: row nowrap;
  }
  .footer-credits {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .footer-credits>* {
    margin-top: 0;
  }
}

@media only screen and (min-width: 992px) {
  header>.row,
  .stores-main>.row,
  footer>.row {
    max-width: 976px;
  }
  .delivery-grid {
    display: block;
  }
  .delivery-main {
    display: none;
  }
  .delivery {
    justify-content: flex-start;
  }
  .delivery>* {
    font-size: 13px;
    line-height: 24px;
  }
  .delivery-adress {
    width: 100%;
    max-width: 229px;
  }
  .category {
    margin-top: 56px;
  }
  .category-cards {
    display: flex;
    flex-flow: row wrap;
  }
  .card-restaurant {
    font-size: 16px;
    line-height: 24px;
  }
  .card-type {
    font-size: 14px;
    line-height: 21px;
  }
  .card-time {
    font-size: 13px;
    line-height: 21px;
  }
}